:root {
  --main-color: #02d4eb;
  --secondary-color: #00d9ff;
  --text-color: #333;
  --bg-color: #f9f9f9;
}












/*------------------ navbar------------ */

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-items li,
  .nav-items .btn {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 11px;
    /* gap: px; */
  }
  .nav-items {
    display: flex;
    gap: 10px;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: -30px 0px;
    white-space: nowrap;
  }
  .logo {
    font-size: 20px;
    padding: 0px;
  }
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items li,
  .nav-items .btn {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 8px;
    /* gap:-2 px; */
  }

  .nav-items {
    display: flex;
    gap: 4px;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 4px;
    margin: -25px 0px;
    white-space: nowrap;
  }

  .logo {
    font-size: 16px;
    padding: 0px;
  }
}
























/*------------------- about section ------------------- */


@media (max-width: 768px) {
.about-section {
  padding: 0px;
  width: 90%;
  /* margin-left:100px; */
  /* margin-right:100px; */
/* background-color:grey; */
}

.about-section h1 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left:-70px;
}

.intro h2 {
  font-size: 15px;
  margin-left:-70px;

}

.highlight {
  color: var(--secondary-color);
}

.intro p {
  font-size: 10px;
  margin-top: 10px;
  max-width: 80%;
  line-height: 1.5;
  text-align: justify;
  margin-left:-70px;

}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  gap: 20px;
}

.profile-img img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0.7;
  margin-left:-70px;

  /* max-width: 600px; */
}

.left-info, .right-info {
  flex: 1;
  min-width: 40px;
}

.info p {
  font-size: 10px;
  margin: 10px 0;

}
.line{
  height:120px;
  margin-right:5px;
}
}





















/*----------------- ::content--------------- */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section {
    height: auto;
    padding: 30px;
    margin-top: -100px;
  }

  .txt1 {
    font-size: 30px;
    line-height: 26px;
    margin-top: -100px;
  }
  .txt2 {
    font-size: 20px;
    line-height: 22px;
    margin-top: -30px;
  }
  .information {
    font-size: 12px;
    text-align: left;
    text-align: justify; 
 }
  .ex-btn {
    padding: 7px 10px;
    background-color: var(--secondary-color);
    color: #000;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .left-section {
    padding: 20px;
  }

  .txt1 {
    font-size: 20px;
    line-height: 26px;
    margin-top: -30px;
  }
  .txt2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: -30px;
  }
  .information {
    font-size: 10px;
   text-align: justify;
  }
}















/*--------------- contact us---------- */
@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 26px;
  }

  .form-row {
    flex-direction: column;
    gap: 15px;
  }

  .form-row input {
    width: 90%;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  .submit-btn {
    width: 90%;
    font-size: 15px;
    padding: 10px 25px;
  }
}

@media (max-width: 480px) {
  .contact-section h2 {
    font-size: 22px;
  }

  .form-row input,
  .form-row-full textarea {
    font-size: 14px;
    color: var(--secondary-color);
    padding: 10px;
  }
  .submit-btn {
    font-size: 12px;
    padding: 10px 20px;
  }
}









/*------------ my image ------------- */
@media (max-width: 480px) {
  .responsive-img {
    max-width: 100%;
        display: block;
  }
}
@media (max-width: 768px) {
  .responsive-img {
    max-width: 180%;
    display: block;
  }
}
