:root {
  --main-color: #02d4eb;
  --secondary-color: #00d9ff;
  --text-color: #333;
  --bg-color: #f9f9f9;
}












/*------------------ navbar------------ */

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-items li,
  .nav-items .btn {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 11px;
    /* gap: px; */
  }
  .nav-items {
    display: flex;
    gap: 10px;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: -30px 0px;
    white-space: nowrap;
  }
  .logo {
    font-size: 20px;
    padding: 0px;
  }
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    display: flex;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items li,
  .nav-items .btn {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 7px;
    /* gap:-2 px; */
  }

  .nav-items {
    display: flex;
    gap: 4px;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 4px;
    margin: -25px 0px;
    white-space: nowrap;
  }

  .logo {
    font-size: 12px;
    padding: 0px;
  }
}














/*----------------- ::content--------------- */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-section {
    height: auto;
    padding: 30px;
    margin-top: -100px;
  }

  .txt1 {
    font-size: 30px;
    line-height: 26px;
    margin-top: -100px;
  }
  .txt2 {
    font-size: 20px;
    line-height: 22px;
    margin-top: -30px;
  }
  .information {
    font-size: 12px;
    text-align: left;
    text-align: justify; 
 }
  .ex-btn {
    padding: 7px 10px;
    background-color: var(--secondary-color);
    color: #000;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .left-section {
    padding: 20px;
  }

  .txt1 {
    font-size: 20px;
    line-height: 26px;
    margin-top: -30px;
  }
  .txt2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: -30px;
  }
  .information {
    font-size: 10px;
   text-align: justify;
  }
}















/*--------------- contact us---------- */
@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 26px;
  }

  .form-row {
    flex-direction: column;
    gap: 15px;
  }

  .form-row input {
    width: 90%;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  .submit-btn {
    width: 90%;
    font-size: 15px;
    padding: 10px 25px;
  }
}

@media (max-width: 480px) {
  .contact-section h2 {
    font-size: 22px;
  }

  .form-row input,
  .form-row-full textarea {
    font-size: 14px;
    color: var(--secondary-color);
    padding: 10px;
  }
  .submit-btn {
    font-size: 12px;
    padding: 10px 20px;
  }
}









/*------------ my image ------------- */
@media (max-width: 480px) {
  .responsive-img {
    max-width: 100%;
        display: block;
  }
}
@media (max-width: 768px) {
  .responsive-img {
    max-width: 180%;
    display: block;
  }
}
